<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Web Guesser</title>
		<link rel="stylesheet" href="main.css">
	</head>

    <body>
        <div class="container">
            <header class="header">
                <h1>Welcome to the Number Guess game!</h1>
            </header>

            <main class="main">
                <p class="description">There is number from 0 to 100, try to guess it!</p>
                <form>
                    <input class="text-field" type='text' name='guess' autofocus/></br>
                    <input class="button" type='submit' value='Guess!' />
                </form></br>
                <p class="message"><%= message %></p>
            </main>

            <aside class="left">
            </aside>

            <aside class="right">
            </aside>

            <footer class="footer">
            </footer>
        </div>
    </body>
</html>
